@charset "utf-8";
/* BEGIN base styles */
/*
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*/

body {
	
	margin: auto;
	font-family: 'Sanchez', serif;
	background: #E3E3E3;
	
}

p {
	font-size: 15px;
	text-align: center;
}





/* END base styles */

/* BEGIN NAV BAR */
.header,
.footer {
	text-align: center;
	padding: 5px;
	
	
}


.nav a{
	text-decoration: none;
	background-color: #fff;
	display: block;
	margin: 5px;
	color:#272727;
	padding: 5px;
	font-weight: bold;
	
	
}

.header h2 {
	padding: 10px;
}




/* END NAV BAR */

/* BEGIN MAIN CONTENT*/
.main-content {
	margin-bottom: 25px;
	margin-top: 25px;
	background: #fff;
}

.main-content h5 {
	text-align: center;
}

.portfolio {
	padding-top: 50px;
	margin: auto;
}

.images {
	margin: auto;
	display: block;
	max-width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
	
	
}


.email {
	padding-bottom: 60px;
	border-bottom: solid 1px #000000;
}

.backup {
	display: flex;
	text-transform:uppercase;
	color: #272727;
	margin: auto;
	
}

.backup a {
		text-decoration: none;
		color: #272727;
	margin-left: 20px;
		
		
	
	}

.hidden {
	display: none;
}

/* END MAIN CONTENT*/




/*Media Queries*/
@media(min-width: 768px) {
	.header {
		display: block;
	}
	.nav {
		display:inline-block;
		 
	}
	
	.nav a {
		background-color: inherit;
	}
	
	.nav a:hover {
		background-color:#fff;
	}
	
	.profile {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.profile-image {
		padding: 10px;
		padding-right: 20px;
	}
	
	.intro {
		margin: auto;
		text-align: left;
		margin-left: 20px;
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
		
	}
	
	section {
		flex-grow: 1;
		width:50%;
	}
	
	.backup {
		display: none;
	}
	
	.hidden {
		display: inline-block;
		text-transform: uppercase;
		text-align: left;
		
	
	}
	.hidden h5 {
		margin-right: 20em;
	
	}
	
	
}

@media (min-width:1024px) {
.main-content {
		display: flex;
		flex-wrap: wrap;
		
	}
	
section {
		flex-grow: 1;
		width:33%;
	}
body{
	max-width: 95%;
	margin: auto;

}

	.intro {
		padding-right: 30em;
	}
	
	.profile-image {
		resize: inherit;
	}

	
}







